extends layout

block content
  h1= title
  - let vans = results;
  div(class="container-fluid mt-3")
  div(class="row m-1")
    each van,index in vans
        - let destination = `dispatch(\"/van/update?id=${van._id}\")` 
        div(class="col-sm-4" onclick=`buy(${index})`) #{van.vanType} - #{van.vanPrice} - #{van.vanColor}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
    script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }

      function dispatch(path)
      { 
      window.location.href=path 
      } 