extends layout

block content
  h1= title
  - let vans = results;
  div(class="container-fluid mt-3")
  div(class="row")
    each van,index in vans
        div(class="col-sm-4" onclick=`buy(${index})`) #{van.vanType} - #{van.vanPrice} - #{van.vanColor}
    script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }