extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let vanid = toShow._id 
    - let van_type = toShow.vanType 
    - let vanPrice = toShow. vanPrice
    - let vanColor = toShow.vanColor 
    - let actionid = "/resource/vans/" + vanid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='vanAttr mr-3') van ID is: 
        div #{vanid} 
      div.row 
        div(class='vanAttr mr-3') van Type is: 
        div #{van_type} 
      div.row 
        div(class='vanAttr mr-3') van Price is: 
        div #{vanPrice} 
      div.row 
        div(class='vanAttr mr-3') van Color is: 
        div #{vanColor} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the van collection 
      window.location.href='/van' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Dont need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/van' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 